


body{
    background-color:#001f29;}


    table{
        margin: auto;
        background-color:#001f29;
        margin-top: 20ch;
        box-shadow: 1ch 1ch 2ch #00db9a;
        border-radius: 7ch;
       
    }
    td{
        padding-top: 5ch;
        color: rgb(79, 85, 119);
       
    }
    label{
      color: #ff6c17;
      margin-right: 10ch;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      padding-left: 2ch;
      font-family: fantasy;
    }
    input{
       
        background-color: #efeeee;
        border-radius: 10ch;
        border: 0ch;
        margin-right: 2ch;
      
    
       
    }
   .bt{
       margin-left: 3ch;
       margin-bottom: 4ch;
       width: 15ch;
       height: 8ch;
       background-color: #efeeee;
       color: #f18745;
       box-shadow: 1ch 1ch 2ch #00db9a;
       font-family: fantasy;
   }
   .mensagens{
    padding-left: 2ch;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 25px;
    height: 5px;
    padding-top: 16px;
    border-radius: 2cm;
    color: #00db9a;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
   
   }
   .msg{
    color: #ff6c17;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 2ch;
    font-family: fantasy;
   }
