


body{
    background-image: url(https://cdn.pixabay.com/photo/2022/06/20/14/20/space-7273891_1280.jpg) ;}


    table{
        margin: auto;
        margin-top: 10ch;
        background-color:#000000;
        opacity: 0.85;  
        border-radius: 7ch;
    }
    td{
        padding-top: 5ch;
    }
  label{
      color: #276bc4;
      margin-right: 10ch;
      padding-left: 2ch;
      line-height: 0.5;
      font-family:Impact;
      font-size: larger;
      
    }
    input{
        background-color: #ffffff;
        border-radius: 10ch;
        border: 0ch;
        margin-right: 2ch;
        opacity: 1;
       
    }
   .bt{
       margin-left: 3ch;
       margin-bottom: 4ch;
       width: 15ch;
       height: 8ch;
       background-color: #efeeee;
       color: #010e1a;
     
       font-family: fantasy;
       
   }
   .mensagens{
    font-family: Impact;
     text-align: center;
     color: #85c4ff;
     font-size: larger;
    
   
   }
   .msg{
    color: #ffffff;
    text-align: center;
    font-family: fantasy;
    border-radius: 6ch;
    width: 30ch;
  
    margin: auto;
   }
   .icon{
    width: 20%;
   }
